/* Body */
body {
    

   
     
        background-image: url(https://img.freepik.com/vector-premium/fondo-dulce-vector-remolino-caramelo_87946-85.jpg?w=2000); 
    }
    /* Mi grid */

.grid-container {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75); 
    border-radius: 4px;
    padding: 10px;
    text-align: center;
   
}
.grid-container {
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}
/* Header index */
.header {
    color: rgb(0, 0, 0) ;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 100px;
    font-style: Italic;


}


header {
    
}
nav {
    background-image: url(https://thumbs.dreamstime.com/b/fondo-con-las-tortas-63489155.jpg);
}
/* Main */
main {


}

/* Footer */
footer {
    background-color: pink;
    height: 90%;
}
/* Mi nav de todas las paginas */
.nav ul {
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
}
.nav ul li a {
    text-decoration: none;
    color: black;
    transition: all .5s ease;
    display: block;
    padding: 20px;
    border:  black 2px;
    font-size: small;
    ;
    
}
.header {
    
    overflow: hidden;
}
.nav {
    display: grid;
    grid-template-columns: 6fr 6fr;
    align-items: center;
    width: 1100px;
    margin: auto;
}
nav ul li a:hover {
    color: #000;
    background: #fff;
}
.subtitulo-1 {
    font-size: medium;
    
}
.subtitulo-2 {
    font-size: medium;
    text-align: left;
}
.flex-container {
 position: relative;
 width: 100vw;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
                }
  .img1 {
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 300px;
    position: absolute;
    top: 50px;
    left: 660px;
                         }            
 .img2 {
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 300px;
position: absolute;
top: 300px;
left: 300px;


                  }

.tabla-index {
    
    text-align: center;
    width: 100%;
  
}

.formulario1 {
    border: solid 5px black;
    width: 400px;
    padding: 20px;
    margin: 30px;
    
}

.container-img {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    
}
.container-img .box-img {
    width: 100%;
    height: 100%;
}
.container-img .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.texto-encima1 {
    color: rgb(0, 0, 0) ;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 25px;
    font-style: Italic;
    position: absolute;
    top: auto;
    left: 25%;
    color: palevioletred;

}
.texto-encima2 {
    color: rgb(0, 0, 0) ;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 25px;
    font-style: Italic;
    position: absolute;
    top: auto;
    left: 42%;
    color: palevioletred;

}
.texto-encima3 {
    color: rgb(0, 0, 0) ;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 25px;
    font-style: Italic;
    position: absolute;
    top: 35%;
    left: 80%;
    
    color: palevioletred;

}
.texto-encima4 {
    color: rgb(0, 0, 0) ;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 25px;
    font-style: Italic;
    position: absolute;
    top: 80%;
    left: 20%;
    
    color: palevioletred;

}

.card-header {
    background-color: pink;
}
.card-body {
    background-color: grey;
}






/* Responsive */

@media screen and (max-width: 1200px) {
    .img1 {
        width: 100%;
    }
       .img2 {
        width: 100%;
       }
}



@media screen and (max-width: 600px) {
    .img1 {
        width: 100%;
       
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;

    }
       .img2 {
        width: 100%;
        max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid
       }
}
@media screen and (max-width: 480px) {
    .img1 {
        width: 100%;
    }
       .img2 {
        width: 100%;
       }
}

@media screen and (max-width: 320px) {
    .img1 {
        width: 100%;
    }
       .img2 {
        width: 100%;
       }
}

div {
    color: red;
}